name: cd

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ghcr.io/${{ github.repository }}/backend:latest
      - name: Build and push web image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend/web
          push: true
          tags: ghcr.io/${{ github.repository }}/web:latest
      - name: Build and push streamlit image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend/streamlit
          push: true
          tags: ghcr.io/${{ github.repository }}/streamlit:latest
